<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{ $ctrl.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <div class="box-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr ng-repeat="(key,title) in $ctrl.items">
                <th style="width:50%">{{ title }}</th>
                <td>{{ $ctrl.content[key] }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <p class="lead text-center"><b>步骤详情</b></p>
          <p style="padding: 0 2em;">
            {{ $ctrl.content.detail }}
          </p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-6 text-center">
          <p class="lead text-center"><b>数据记录</b></p>
          <textarea cols="40" rows="10" ng-model="$ctrl.record" ></textarea>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
          <p class="lead text-center"><b>测试结果</b></p>
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-block btn-success boom" ng-model="$ctrl.pass" uib-btn-radio="1" uncheckable>通过</label>
            </div>
                    </div>
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-block btn-default boom" ng-model="$ctrl.pass" uib-btn-radio="-1" uib-uncheckable="uncheckable" >未测试</label>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-12">
              <label class="btn btn-block btn-danger boom" ng-model="$ctrl.pass" uib-btn-radio="0" uncheckable>失败</label>
            </div>

          </div>
        </div>
      </div>


    </div>
  </form>
  <!--{{ $ctrl.form|json }}-->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">保存</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
</div>

<style>
  .boom{
    height:3em;
    margin: 1em 0.5em;
  }
  .boom.active {
    border: solid 5px yellow;
    padding: -5px;
  }
</style>
