<div class="modal-header">
  <h3 class="modal-title" id="modal-title">{{ $ctrl.title }}</h3>
</div>
<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <div class="box-body">
      <tabs-component model="$ctrl.tabModel" on-select="$ctrl.selectTab(id)">
        <div ng-show="$ctrl.activeTabId===-1">
          <div ng-repeat="(key, value) in $ctrl.editableItems" class="form-group">
            <label for="{{key}}" class="col-sm-2 control-label">{{value}}</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="{{key}}" placeholder="{{value}}"
                     ng-model="$ctrl.form[key]">
            </div>
          </div>
          <!-- /模型form内容  -->
          <div class="form-group">
            <label for="select" class="col-sm-2 control-label">类型</label>
            <div class="col-sm-9">
              <select class="form-control" id="select" ng-model="$ctrl.form['type']"
                      ng-options="option.name for option in $ctrl.types track by option.id"> </select>
            </div>
          </div>

        </div>
        <div ng-show="$ctrl.activeTabId===1">
          <basket-component list="$ctrl.requirementsList"></basket-component>
          <quick-select-req-component ng-if="$ctrl.activeTabId===1" on-add="$ctrl.addToReq(item)" basket="$ctrl.requirementsList"></quick-select-req-component>
        </div>
        <div ng-show="$ctrl.activeTabId===2">
          <basket-component list="$ctrl.envsList"></basket-component>
          <quick-select-env-component ng-if="$ctrl.activeTabId===2" on-add="$ctrl.addToEnv(item)" basket="$ctrl.envsList"></quick-select-env-component>
        </div>
        <div ng-show="$ctrl.activeTabId===3">
          <basket-component list="$ctrl.productsList"></basket-component>
          <quick-select-product-component ng-if="$ctrl.activeTabId===3" on-add="$ctrl.addToProduct(item)" basket="$ctrl.productsList"></quick-select-product-component>
        </div>
        <div ng-show="$ctrl.activeTabId===4">
          <basket-component list="$ctrl.casesList"></basket-component>
          <quick-select-case-component ng-if="$ctrl.activeTabId===4" on-add="$ctrl.addToCase(item)" basket="$ctrl.casesList"></quick-select-case-component>
        </div>
        <div ng-show="$ctrl.activeTabId===5">
          <basket-component list="$ctrl.executor"></basket-component>
          <quick-select-user-component ng-if="$ctrl.activeTabId===5" on-add="$ctrl.addToExcutor(item)" basket="$ctrl.executor"></quick-select-user-component>
        </div>
      </tabs-component>
      <!-- 模型form内容  -->

    </div>
  </form>
  <!--{{ $ctrl.form|json }}-->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">保存</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">取消</button>
</div>
