<form class="sidebar-form" style="margin-top: 1.6em;">
  <div class="input-group">
    <input type="text" name="q" class="form-control" ng-model="$ctrl.q" placeholder="搜索">
    <span class="input-group-btn">
                    <button ng-click="$ctrl.search()" type="submit" name="search" class="btn btn-flat"><i
                      class="fa fa-search"></i>
                    </button>
                  </span>
    <span class="input-group-btn">
                    <button ng-click="$ctrl.clear()" type="submit" name="search" class="btn btn-flat"><i
                      class="glyphicon glyphicon-remove"></i>
                    </button>
                  </span>
  </div>
</form>
