<table class="table table-condensed" style="border:1px solid #ececec;">
  <tbody>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>操作</th>
  </tr>
  <tr ng-if="$ctrl.list.length!==0" ng-repeat="item in $ctrl.list">
    <td>{{item.id}}</td>
    <td> {{item.title}}</td>
    <td>
      <span><a href=""  ng-click="$ctrl.remove($index)"><i class="fa fa-fw fa-remove"></i></a>
      </span>
    </td>
  </tr>
  <tr ng-if="$ctrl.list.length===0">
    <td style="text-align: center;" colspan="3">列表为空</td>
  </tr>
  </tbody>
</table>
