<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <!--<li class="active"><a href="" ng-click="$ctrl.selectTab()" data-toggle="tab"-->
                          <!--aria-expanded="true">{{$ctrl.defaultTab||'全部类型'}}</a></li>-->
    <li ng-class="{'active':$ctrl.activeTabId===item.id}" ng-repeat="item in $ctrl.model"><a href="" ng-click="$ctrl.selectTab(item.id)" data-toggle="tab"
                                          aria-expanded="true">{{item.name}}</a></li>
  </ul>
<div class="tab-content" ng-transclude></div>
</div>
