<!--备案加密-->
<div class="row">
  <div class="col-xs-12">
      <div class="box-header with-border text-center">
        <h3 class="box-title">比对信息验核</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div class="box-body">
        <form role="form">
          <table class="table table-striped">
            <tbody>
            <tr>
              <th style="width: 2em">编号</th>
              <th style="width: 2em">项目</th>
              <th style="width: 4em">属性</th>
              <th style="width: 2em">满足</th>
              <th style="width: 2em">修改</th>
            </tr>
            <tr ng-repeat="item in compareCtrl.items">
              <td>{{ item.id }}</td>
              <td>{{item.name}}</td>
              <td><div>{{item.prop}}</div></td>
              <td>
                <div class="btn-group">
                  <a class="btn margin" ng-class="{'bg-maroon':!item.ok,'bg-olive':item.ok}">
                    <span ng-show="item.ok">是</span>
                    <span ng-show="!item.ok">否</span>
                  </a>
                </div>
              </td>
              <td>
                <div class="btn-group">
                  <a class="btn bg-olive margin" ui-sref="{{ item.sref }}">
                    <i class="fa fa-fw fa-pencil"></i>
                  </a>
                </div>
              </td>
            </tr>
            </tbody>
          </table>

          <!-- /.box-body -->
          <div class="box-footer">
            <div class="col-xs-3 col-xs-offset-2">
              <button ng-click="compareCtrl.fake()" type="button" class="btn btn-warning btn-block" >产生模拟数据</button>
            </div>
            <div  class="col-xs-4">
              <button ng-disabled="!compareCtrl.isAllSet" type="button" class="btn btn-primary btn-block" ng-class="" ng-click="compareCtrl.doCompare()">
                <span ng-show="compareCtrl.isAllSet">开始比对</span>
                <span ng-hide="compareCtrl.isAllSet">验核失败，不能比对</span>
              </button>
            </div>

          </div>

        </form>
      </div>


  </div>
</div>

