<!--备案加密-->
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">软件一致性比对</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="chooseCompare">选择软件</label>
            <input id="chooseCompare" type="file" file-model="compareCtrl.myFile"/>
          </div>
          <hr>
          <div class="form-group">
            <label for="msg">发送文本消息</label>
            <input id="msg" type="text" ng-model="compareCtrl.msg">
            <button ng-click="compareCtrl.sendMsg()">发送</button>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary" ng-click="compareCtrl.doCompare()">开始比对</button>
        </div>
      </form>
    </div>
  </div>
</div>

