<div class="box">
  <div class="box-header with-border text-center">
    <h3 >功能测试执行</h3>

  </div><!-- /.box-header -->
  <div class="box-body">
    <div ng-class="{'col-xs-offset-3 col-xs-6':!funcCtrl.currentCase,'col-xs-4':funcCtrl.currentCase}">
      <div class="box">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="text-center" >
          <!-- /.widget-user-image -->
          <h3 style="line-height: 30px">测试用例</h3>
          <!--<h5 class="widget-user-desc">Lead Developer</h5>-->
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li ng-repeat="case in funcCtrl.cases"><a href="#" ng-click="funcCtrl.setCase($index)">{{ case.content.describe }} <span class="pull-right badge bg-blue">--</span></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-4" ng-if="funcCtrl.currentCase">
      <div class="box">
        <div class="text-center" >
          <!-- /.widget-user-image -->
          <h3 style="line-height: 30px">用例步骤</h3>
          <!--<h5 class="widget-user-desc">Lead Developer</h5>-->
        </div>
        <div class="box-footer no-padding">
          <p style="padding: 1em;">
            {{ funcCtrl.currentCase.content.detail }}
          </p>
        </div>
      </div>
    </div>
    <div class=" col-xs-4" ng-if="funcCtrl.currentCase">
      <div class="box">
        <div class="text-center" >
          <!-- /.widget-user-image -->
          <h3 style="line-height: 30px">结果记录</h3>
          <!--<h5 class="widget-user-desc">Lead Developer</h5>-->
        </div>
        <div class="box-footer no-padding">
          <div class="form-group text-center">
            <label class="control-label"><h3>用例通过<input type="checkbox" ng-model="funcCtrl.currentCase['pass']"></h3> </label>
          </div>

          <div class="form-group text-center" >
            <label class="control-label"><h3>数据和备注</h3></label>
            <textarea style="height: 100px;" class="form-control" ng-model="funcCtrl.currentCase['record']"></textarea>
          </div>
        </div>

      </div>

    </div>


  </div><!-- /.box-body -->
  <div class="box-footer">
    <div class="col-xs-offset-4 col-xs-4">
      <button class="btn btn-block btn-success" ng-click="funcCtrl.fire()">全部提交</button>
    </div>
  </div><!-- box-footer -->
</div><!-- /.box -->
