<!--备案状态-->
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="box">
      <div class="box-header text-center">
        <h3 class="box-title">备案状态</h3>


      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-bordered">
          <tbody>
          <tr>
            <th>项目</th>
            <th>状态</th>
          </tr>
          <tr>
            <td>设备材料审核</td>
            <td><span class="label label-success">通过</span></td>
          </tr>
          <tr>
            <td>功能可靠性检测</td>
            <td><span class="label label-success">通过</span></td>
          </tr>
          <tr>
            <td>软件代码上传</td>
            <td><span class="label label-success">通过</span></td>
          </tr>
          <tr>
            <td>备案状态</td>
            <td><span class="label label-success">通过</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
