<!-- form start -->
  <div class="box-body">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-2 text-center">
        <input id="hexFile" type="file" file-model="hexCtrl.hexFile" />
        <!--<a class="btn btn-app bg-olive margin " data-toggle="modal" data-target="#Modal" ng-click="hexCtrl.selectFile()">-->
          <!--<i class="glyphicon glyphicon-plus"></i> 选择HEX文件-->
        <!--</a>-->
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-2 col-xs-offset-2 form-group text-center">
      <button type="submit" class="btn btn-primary" ng-click="hexCtrl.setHex()">开始暂存</button>
    </div>
  </div>

