<div class="row">
  <div class="col-xs-12">
    <form ng-show="infoCtrl.canEdit" ng-submit="infoCtrl.onSubmit()" name="infoCtrl.form" novalidate>
      <formly-form model="infoCtrl.model" fields="infoCtrl.fields" options="infoCtrl.options" form="infoCtrl.form">
        <div class="box-footer text-center">
          <button type="submit" class="btn btn-primary submit-button" ng-disabled="infoCtrl.form.$invalid">提交</button>
        </div>
      </formly-form>
      <div>
        <pre>{{ infoCtrl.model|json }}</pre>
      </div>
    </form>
    <div ng-hide="infoCtrl.canEdit" class="tab-content">
    <p style="margin-top: 20px;" class="text-center">请先 <a ui-sref="action-beian.setProduct">选择产品</a></p>
  </div>
</div>
</div>
</div>

