<!-- form start -->
  <div class="box-body">
    <div class="row" ng-show="hexCtrl.canSee">
      <div class="col-xs-12">
        <div ng-show="hexCtrl.mode==='debug'">
          <button ng-click="hexCtrl.getRemoteHex()">Get</button>
          <button ng-click="hexCtrl.getRemoteHexNum()">Get All</button>
        </div>
        <table class="table table-striped">
          <tbody>
          <tr>
            <th>核心</th>
            <th>状态</th>
            <th>MD5</th>
            <th>操作</th>
          </tr>
          <tr>
            <td>CPU1 <input id="hexFile0" type="file" file-model="hexCtrl.hexFile[0]" style="display: none"/></td>
            <td>
              <h4 ng-hide="hexCtrl.hash1">{{ hexCtrl.hexFile[0].name||'未选择HEX文件' }}</h4>
              <h4 ng-show="hexCtrl.hash1">已暂存</h4>
            </td>
            <td><h4>{{ hexCtrl.hash1?'md5:'+hexCtrl.hash1:'' }}</h4></td>
            <td>
              <!--操作按钮-->
              <div ng-if="hexCtrl.mode!=='gonghuo'">
                <a ng-show="hexCtrl.hash1" class="btn btn-app bg-maroon margin" ng-click="hexCtrl.removeHex(0)">
                <i class="glyphicon glyphicon-remove"></i> 删除</a>
                <a ng-hide="hexCtrl.hash1" id="button0" type="button" class="btn btn-app bg-olive margin "><i class="glyphicon glyphicon-plus"></i> 新增</a>
              </div>
              <!--/操作按钮-->
            </td>
          </tr>
          <tr>
            <td>CPU1 <input id="hexFile1" type="file" file-model="hexCtrl.hexFile[1]" style="display: none"/></td>
            <td>
              <h4 ng-hide="hexCtrl.hash2">{{ hexCtrl.hexFile[1].name||'未选择HEX文件' }}</h4>
              <h4 ng-show="hexCtrl.hash2">已暂存</h4>
            </td>
            <td><h4>{{ hexCtrl.hash2?'md5:'+hexCtrl.hash2:'' }}</h4></td>
            <td>
              <a ng-show="hexCtrl.hash2" class="btn btn-app bg-maroon margin" ng-click="hexCtrl.removeHex(1)">
                <i class="glyphicon glyphicon-remove"></i> 删除</a>
              <a ng-hide="hexCtrl.hash2" id="button1" type="button" class="btn btn-app bg-olive margin "><i class="glyphicon glyphicon-plus"></i> 新增</a>
            </td>
          </tr>
          </tbody>
          </table>
        <hr>
        <div class="row">
          <div class="col-xs-2 col-xs-offset-4">
            <button ng-if="hexCtrl.mode!=='gonghuo'" type="button" class="btn btn-primary btn-block" ng-click="hexCtrl.setHex()">暂存</button>
            <button ng-if="hexCtrl.mode==='gonghuo'" type="button" class="btn btn-primary btn-block" ui-sref="action-beian.compare">准备比对</button>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="hexCtrl.canSee" class="tab-content">
      <p style="margin-top: 20px;" class="text-center">请先 <a ui-sref="action-beian.setProduct">选择产品</a></p>
    </div>

  </div>


