<div class="row">
  <div class="col-xs-12">
    <form ng-submit="$ctrl.onSubmit()" novalidate>
      <div class="form-group">
        <div class="col-xs-6">
          <label >费控类型</label>
          <input type="text" class="form-control" ng-model="$ctrl.form.costcontrol_type">
        </div>
        <div class="col-xs-6">
          <label >电流规格</label>
          <input type="text" class="form-control" ng-model="$ctrl.form.i_spec">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <label >软件适用表型</label>
          <select class="form-control" ng-model="$ctrl.form.program_for_meter" ng-options="option['name'] as option['name'] group by option['group'] for option in $ctrl.program_for_meter_options "></select>
        </div>
        <div class="col-xs-6">
          <label >软件适用类型</label>
          <select class="form-control" ng-model="$ctrl.form.program_type" ng-options="option['value'] as option['name'] group by option['group'] for option in $ctrl.program_type_options "></select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <label >软件版本号</label>
          <input type="text" class="form-control" ng-model="$ctrl.form.program_version">
        </div>
        <div class="col-xs-6">
          <label >电流规格</label>
          <input type="text" class="form-control" ng-model="$ctrl.form.v_spec">
        </div>
      </div>

    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <label>MCU核心数设置</label>
      <a class="btn btn-default margin" ng-click="$ctrl.removeCore()">
        <i class="glyphicon glyphicon-minus"></i>
      </a>
    <span>{{ $ctrl.coreNum }}</span>
      <a class="btn btn-default margin" ng-click="$ctrl.addCore()">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
  </div>
  <div class="col-xs-12">
      <label>MCU核心设置</label>
    <a ng-repeat="mcu in $ctrl.mcuInfos" class="btn bg-olive margin " ng-click="$ctrl.openModal(mcu)">
      <i class="glyphicon glyphicon-edit"></i> {{ mcu.mcu_id }}
    </a>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center">
    <a class="bg-maroon btn btn-app btn-block btn-flat" ng-click="$ctrl.submit()">
      <i class="fa fa-save"></i> 保存
    </a>
  </div>
</div>
    <pre>{{ $ctrl.form|json }}</pre>
