<div class="main-header">
  <!-- Logo -->
  <a ui-sref="home" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><i class="glyphicon glyphicon-user"></i></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">智能电表测试管理系统</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li ng-if="$ctrl.authGuard.isLoggedIn" class="user">
          <a href="" >
            <span class="hidden-xs">{{ $ctrl.authGuard.user.name }}({{ $ctrl.authGuard.user.roleName }})</span>
          </a>
        </li>

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">

          <a ng-if="!$ctrl.authGuard.isLoggedIn" href="" ng-click="$ctrl.login()">
            <span class="hidden-xs">登录</span>
          </a>
          <a ng-if="$ctrl.authGuard.isLoggedIn" href="" ng-click="$ctrl.logout()">
            <span class="hidden-xs">注销</span>
          </a>
        </li>

      </ul>
    </div>
  </nav>

</div>
