<!--<form class="form-horizontal">-->
  <!--<fieldset>-->

    <!--&lt;!&ndash; Form Name &ndash;&gt;-->
    <!--<legend>Form Name</legend>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">厂家名称</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="XXXXXXXX有限公司" class="form-control input-md" required="">-->
        <!--<span class="help-block">XXXXXXXX有限公司</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">厂家代码</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="XXXX（国网公司分配的厂家代码，例0020）" class="form-control input-md" required="">-->
        <!--<span class="help-block">XXXX（国网公司分配的厂家代码，例0020）</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">全性能检测报告编号</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="SGCM01162013 XXXX" class="form-control input-md" required="">-->
        <!--<span class="help-block">SGCM01162013 XXXX</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Multiple Checkboxes (inline) &ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="checkboxes">备案种类</label>-->
      <!--<div class="col-md-4">-->
        <!--<label class="checkbox-inline" for="checkboxes-0">-->
          <!--<input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">-->
          <!--国网计量中心-->
        <!--</label>-->
        <!--<label class="checkbox-inline" for="checkboxes-1">-->
          <!--<input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">-->
          <!--网省计量中心-->
        <!--</label>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">程序版本号</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="V xx.xx" class="form-control input-md" required="">-->
        <!--<span class="help-block">V xx.xx</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">电压规格</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="220V" class="form-control input-md" required="">-->
        <!--<span class="help-block">220V</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">电流规格</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="5（60）A" class="form-control input-md">-->
        <!--<span class="help-block">5（60）A</span>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Text input&ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label class="col-md-4 control-label" for="textinput">MCU型号</label>-->
      <!--<div class="col-md-4">-->
        <!--<input id="textinput" name="textinput" type="text" placeholder="瑞萨电子R5F212B8" class="form-control input-md">-->
        <!--<span class="help-block">瑞萨电子R5F212B8</span>-->
      <!--</div>-->
    <!--</div>-->

  <!--</fieldset>-->
<!--</form>-->
<div class="row">
  <div class="col-xs-7 col-xs-offset-2" ng-include="'views/form-softreg-01.html'" ng-controller="ActionProductRegisterCtrl as vm">
    <script type="text/ng-template" id="custom.html">
      <div class="form-group">
        <label for="{{::id}}">{{options.templateOptions.label}}</label>
        <input id="{{::id}}" name="{{::id}}" class="form-control" ng-model="model[options.key]" />
      </div>
    </script>
    <script type="text/ng-template" id="datepicker.html">
      <p class="input-group">
        <input  type="text"
                id="{{::id}}"
                name="{{::id}}"
                ng-model="model[options.key]"
                class="form-control"
                ng-click="datepicker.open($event)"
                uib-datepicker-popup="{{to.datepickerOptions.format}}"
                is-open="datepicker.opened"
                datepicker-options="to.datepickerOptions" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </script>
  </div>
  <!--<div class="col-xs-6" ng-include="'views/form-softreg-02.html'" ></div>-->
</div>

