<div class="box box-warning">
  <!--<div class="box-header with-border">-->
    <!--<h3 class="box-title">{{ vm.title }}</h3>-->
  <!--</div>-->
  <!-- /.box-header -->
  <div class="box-body">

  <form ng-submit="vm.onSubmit()" name="vm.form" novalidate>
    <formly-form  model="vm.model" fields="vm.fields" options="vm.options" form="vm.form">
      <div class="box-footer text-center">
        <button type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid">提交</button>
      </div>
    </formly-form>
      <div>{{ vm.model }}</div>
  </form>
  <!-- /.box-body -->
    </div>
</div>
