<div class="row">
  <div class="col-xs-7 col-xs-offset-2" ng-include="'views/form-template.html'" ng-controller="FormCtrl as vm">

    <script type="text/ng-template" id="custom.html">
      <div class="form-group">
        <label for="{{::id}}">{{options.templateOptions.label}}</label>
        <input id="{{::id}}" name="{{::id}}" class="form-control" ng-model="model[options.key]" />
      </div>
    </script>
    <script type="text/ng-template" id="datepicker.html">
      <p class="input-group">
        <input  type="text"
                id="{{::id}}"
                name="{{::id}}"
                ng-model="model[options.key]"
                class="form-control"
                ng-click="datepicker.open($event)"
                uib-datepicker-popup="{{to.datepickerOptions.format}}"
                is-open="datepicker.opened"
                datepicker-options="to.datepickerOptions" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="datepicker.open($event)" ng-disabled="to.disabled"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </script>
  </div>
  <!--<div class="col-xs-6" ng-include="'views/form-softreg-02.html'" ></div>-->
</div>
