<div class="box-header">
    <div class="row">
        <div class="col-xs-2" style="margin-top: 1em;">
          <a class="btn btn-app" ui-sref="manage-plan">
            <i class="fa fa-arrow-left"></i> 返回
          </a>
        </div>
        <div class="col-xs-6">
            <h3 ng-show="managePlan.modalTitle" class="text-center"><b>{{managePlan.modalTitle}}</b></h3>
            <h3 ng-hide="managePlan.modalTitle" class="text-center"><b>请返回上级重试</b></h3>
        </div>
        <div>
          <div class="col-xs-4" style="margin-top: 1em;">
            <a class="btn btn-app" ng-click="managePlan.reset()">
              <i class="fa fa-repeat"></i> 清空
            </a>
            <a class="btn btn-app bg-orange" ng-click="managePlan.create()">
              <i class="fa fa-save"></i> 保存
            </a>
          </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4">
            <div class="box" ng-class="{'box-danger':managePlan.onProducts}">
                <div class="box-header text-center" style="cursor:pointer;" ui-sref="manage-plan.new.products" ng-click="managePlan.setTopTab('onProducts')">
                    <h3 class="box-title" >产品</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div ng-hide="managePlan.productsList.length!==0">
                        <p class="text-center">
                            请选择产品
                        </p>
                    </div>
                    <table ng-show="managePlan.productsList.length!==0" class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>供应商</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="item in managePlan.productsList">
                                <td>{{item.id}}</td>
                                <td> {{item.name}}</td>
                                <td>
                                    {{item.supplier}}
                                </td>
                                <td><span>
                                <a href="" ng-click="managePlan.removeFromProductsList(item)"><i class="fa fa-fw fa-remove"></i></a>
                                </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-3">
            <div class="box" ng-class="{'box-danger':managePlan.onRequirements}">
                <div class="box-header text-center" style="cursor:pointer;" ui-sref="manage-plan.new.requirements" ng-click="managePlan.setTopTab('onRequirements')">
                    <h3 class="box-title">需求</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div ng-hide="managePlan.requirementsList.length!==0">
                        <p class="text-center">
                            请选择需求
                        </p>
                    </div>
                    <table ng-show="managePlan.requirementsList.length!==0" class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>类型</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="item in managePlan.requirementsList">
                                <td>{{item.id}}</td>
                                <td> {{item.title}}</td>
                                <td>
                                    {{item.type}}
                                </td>
                                <td><span>
                                <a href="" ng-click="managePlan.removeFromRequirementsList(item)"><i class="fa fa-fw fa-remove"></i></a>
                                </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-3">
            <div class="box" ng-class="{'box-danger':managePlan.onEnvs}">
                <div class="box-header text-center" style="cursor:pointer;" ui-sref="manage-plan.new.envs" ng-click="managePlan.setTopTab('onEnvs')">
                    <h3 class="box-title">环境</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div ng-hide="managePlan.envsList.length!==0">
                        <p class="text-center">
                            请选择环境
                        </p>
                    </div>
                    <table ng-show="managePlan.envsList.length!==0" class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="item in managePlan.envsList">
                                <td>{{item.id}}</td>
                                <td> {{item.title}}</td>
                                <td><span>
                                <a href="" ng-click="managePlan.removeFromEnvsList(item)"><i class="fa fa-fw fa-remove"></i></a>
                                </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-xs-2">
            <div class="box" ng-class="{'box-danger':managePlan.onUsers}">
                <div class="box-header text-center" style="cursor:pointer;" ui-sref="manage-plan.new.users" ng-click="managePlan.setTopTab('onUsers')">
                    <h3 class="box-title">人员</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div ng-hide="managePlan.usersList.length!==0">
                        <p class="text-center">
                            请选择环境
                        </p>
                    </div>
                    <table ng-show="managePlan.usersList.length!==0" class="table table-condensed">
                        <tbody>
                            <tr>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            <tr ng-repeat="item in managePlan.usersList">
                                <td> {{item.name}}</td>
                                <td><span>
                                <a href="" ng-click="managePlan.removeFromUsersList(item)"><i class="fa fa-fw fa-remove"></i></a>
                                </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li ui-sref-active="active"><a ui-sref="manage-plan.new.products" ng-click="managePlan.setTopTab('onProducts')">产品</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage-plan.new.requirements" ng-click="managePlan.setTopTab('onRequirements')">需求</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage-plan.new.envs" ng-click="managePlan.setTopTab('onEnvs')">环境</a></li>
                    <li ui-sref-active="active"><a ui-sref="manage-plan.new.users" ng-click="managePlan.setTopTab('onUsers')">人员</a></li>
                </ul>
                <div class="tab-content" ui-view>
                    <div class="tab-pane active" id="tab_1">
                        <b>请选择一项标签</b>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    </div>
</div>
