<div class="row">
    <div class="col-xs-12">
      <div class="box box-danger">
        <div class="box-header">
        <div class="row">
        <div class="col-xs-9">
			<h3 class="text-center"><b>产品管理</b></h3>
        	
        </div>
        <div class="col-xs-3">
			<div class="btn-group pull-right">
				
				<a class="btn btn-app bg-olive margin">
					<i class="glyphicon glyphicon-plus"></i> 新增
				</a>
			</div>
        	
        </div>
        	
        </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th style="width: 2em;">ID</th>
              <th style="width: 5em;">名称</th>
              <th style="width: 10em;">创建时间</th>
              <th style="width: 10em;">供应商</th>
              <th style="width:20em;">描述</th>
              <th>操作</th>
            </tr>
            <tr>
              <td>183</td>
              <td>John Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-success">Approved</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
              <td>
              <div class="btn-group">
              	<a class="btn btn-app bg-orange margin">
	               <i class="fa fa-edit"></i> 修改
	            </a>
	            <a class="btn btn-app bg-maroon margin">
	               <i class="glyphicon glyphicon-remove"></i> 删除
	            </a>
              	
              </div>
              </td>
            </tr>
            <tr>
              <td>219</td>
              <td>Alexander Pierce</td>
              <td>11-7-2014</td>
              <td><span class="label label-warning">Pending</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
            </tr>
            <tr>
              <td>657</td>
              <td>Bob Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-primary">Approved</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
            </tr>
            <tr>
              <td>175</td>
              <td>Mike Doe</td>
              <td>11-7-2014</td>
              <td><span class="label label-danger">Denied</span></td>
              <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
            </tr>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
  <!-- /.box -->
	</div>
</div>
           
            


